.imgCharacter {
  width: 100px;
  height: 100px;
}
.card {
  background: black;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}
.pdiv {
  width: min-content;
  height: 175px;
  color: whitesmoke;
  border-style: solid;
  margin: 10px;
}
.loading {
  font-size: 50px;
  margin-top: 100px;
}
.imgFullCharacter {
  width: 400px;
  height: 400px;
}
.bigCard {
  color: whitesmoke;
  border-style: solid;
  display: flex;
  margin: 10px;
}
.bigCardProperty {
  color: whitesmoke;
  margin-left: 1em;
  text-align: start;
  font-size: x-large;
}
.App-header {
  width: 100%;
}
@media screen and (max-width: 576px) {
  .imgFullCharacter {
    width: 100%;
    height: auto;
  }
  .bigCardProperty {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    text-align: start;
    font-size: small;
  }
}
